body{
  background-color: #121210;*/
  text-align: center;
  color: white;
}

li{
  border: 2px solid #121210;
  padding: 15px 20px;
  background: gray;
  width: 100px;
  border-radius: 20px;
  margin-top: -45px;
  margin-bottom: 47px;
  margin-left: -0px;
  list-style: none;
  text-align: center
}

b{
  color: red;
}
