body{
  background-color: #121210;
  text-align: center;
  color: white;
}

.displays{
    border: 2px solid #a1a1a1;
    padding: 20px 40px;
    background: gray;
    width: 100px;
    border-radius: 25px;

    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 80px;
}
